.tartalom
{
    width: 950px;
    background-color: #571C0A;
    box-shadow: 5px 5px 5px #3F1407;
}

hr
{
    height: 1px;
    border: 0;
    border-top: 2px solid #3F1407;
    margin: 20px 40px;
}

.kozepre
{
    text-align: center;
}

#szentjobb
{
    width: 480px;
}

#apatsag
{
    width: 220px;
    margin-left: 20px;
}

#kapolna
{
    width: 220px;
    margin-right: 20px;
}

#vonat
{
    width: 360px;
    margin-left: 20px;
}

#kormenet
{
    width: 320px;
    margin-right: 20px;    
}

#forras
{
    text-align: right;
    font-size: 12pt;
}


